html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "Lucida Grande"; src: url("fonts/lucida-grande.eot"); src: url("fonts/lucida-grande.eot?#iefix") format("embedded-opentype"), url("fonts/lucida-grande.woff2") format("woff2"), url("fonts/lucida-grande.woff") format("woff"), url("fonts/lucida-grande.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }
body.is-gray { background: #f4f4f4; }

.out { position: relative; min-width: 320px; height: 100%; }

h1, h2, h3, h4, h5, h6, strong, b { font-weight: normal; }

i { font-style: normal; }

a { text-decoration: none; }

p { font-size: 18px; line-height: 24px; }

input[type="search"]::-webkit-search-cancel-button { display: none; }

.flag_ico { background: url('../img/icons-saf3131bb2c.png') 0 -273px no-repeat; background-position: 0 -137px; width: 32px; height: 32px; -moz-background-size: 32px 227px; -webkit-background-size: 32px 227px; background-size: 32px 227px; }

.ad_ico { background: url('../img/icons-saf3131bb2c.png') 0 -42px no-repeat; background-position: 0 -21px; width: 26px; height: 31.5px; -moz-background-size: 32px 227px; -webkit-background-size: 32px 227px; background-size: 32px 227px; }

.privacy_ico { background: url('../img/icons-saf3131bb2c.png') 0 -389px no-repeat; background-position: 0 -195px; width: 32px; height: 32px; -moz-background-size: 32px 227px; -webkit-background-size: 32px 227px; background-size: 32px 227px; }

.close_ico { background: url('../img/icons-saf3131bb2c.png') 0 -147px no-repeat; background-position: 0 -74px; width: 22px; height: 22px; -moz-background-size: 32px 227px; -webkit-background-size: 32px 227px; background-size: 32px 227px; }

.btn-menu { display: none; position: relative; float: right; margin-top: 21px; width: 24px; height: 18px; background: none; cursor: pointer; }
.btn-menu:before, .btn-menu:after, .btn-menu span { position: absolute; width: 23px; height: 2px; background: #000; height: 2px; border-radius: 2px; left: 0; right: 0; -moz-transform-origin: left 50%; -ms-transform-origin: left 50%; -webkit-transform-origin: left 50%; transform-origin: left 50%; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.btn-menu:before { content: ""; top: 0; }
.btn-menu:after { content: ""; bottom: 0; }
.btn-menu span { top: 50%; margin-top: -1px; }
.btn-menu.is-active span { display: none; }
.btn-menu.is-active:before { -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.btn-menu.is-active:after { -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }

.slidr { float: left; width: 75%; max-width: 680px; max-height: 385px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slidr:first-child { display: block; }
.slidr img { display: none; width: 100%; }
.slidr .slick-next { padding: 10px; margin-top: -9px; right: 20px; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.slidr .slick-next:hover { -moz-transform: translateX(5px); -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px); }
.slidr .slick-prev { padding: 10px; margin-top: -9px; left: 20px; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.slidr .slick-prev:hover { -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px); }

.side-slider { width: 25%; max-width: 220px; padding-left: 20px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.side-slider__img { display: block; width: 220px; padding: 10px 0; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.side-slider__img:last-child { padding-bottom: 0; }
.side-slider__img img { width: 100%; }
.side-slider .slick-track { top: -20px; }

.social { display: inline-block; margin-top: 5px; }
.social__link { display: inline-block; margin: 0 5px; max-width: 104px; vertical-align: middle; }
.social__link img { max-width: 100%; }

.header { position: absolute; min-width: 320px; min-height: 60px; left: 0; right: 0; background: #FFF; border-bottom: 2px solid #d6d6d6; z-index: 2; }

.nav { font-size: 0; }
.nav li { display: inline-block; margin: 0 22px; text-align: center; vertical-align: top; }
.nav li:last-child a { margin-left: 15px; }
.nav li.slick-center a { color: #000; }
.nav li.slick-center a:before { display: block; }
.nav a { position: relative; display: inline-block; padding: 24px 0; font-size: 12px; color: #9d9d9d; text-transform: uppercase; font-family: "Lucida Grande", Arial, sans-serif; }
.nav a:before { display: none; content: ""; position: absolute; left: 0; right: 0; bottom: -1px; background: #000; height: 4px; }

.sidemenu { display: none; float: left; width: 220px; height: 100%; padding: 5px 0; overflow-y: auto; border-right: 1px solid #b0b0b0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sidemenu__list li:last-child a { border: none; }
.sidemenu__list a { display: block; padding: 10px 15px 12px; font-size: 14px; color: #525252; border-bottom: 1px solid #b0b0b0; font-family: "Lucida Grande", Arial, sans-serif; }
.sidemenu__list a:hover p { text-decoration: underline; }
.sidemenu__list p { font-size: 14px; }
.sidemenu__list small { color: #b0b0b0; font-size: 12px; }
.sidemenu .mCSB_scrollTools { width: 4px; }

.search { position: relative; display: block; border-bottom: 1px solid #b0b0b0; }
.search_ico { position: absolute; top: 50%; margin-top: -9px; right: 15px; }
.search input { width: 100%; padding: 15px; font-size: 14px; font-family: "Lucida Grande", Arial, sans-serif; }
.search input:-moz-placeholder, .search input::-moz-placeholder { color: #9d9d9d; opacity: 1; }
.search input::-webkit-input-placeholder { color: #9d9d9d; }

.article { position: relative; height: 100%; padding-top: 66px; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article__bl { margin: 9px 0; }
.article__in { margin: 0 18px; padding: 0 20px; background: #FFF; }
.article__ttl { padding: 25px 0 14px; font-size: 28px; color: #000; line-height: 1.25; font-family: "Lucida Grande", Arial, sans-serif; }
.article__img { position: relative; display: block; width: 100%; height: 452px; background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }
.article__txt { padding: 25px 0; height: 230px; overflow-y: auto; }
.article a { color: #62b7ff; text-decoration: underline; }
.article .article__link { position: absolute; left: 0; right: 0; bottom: 0; padding: 20px 0; text-transform: uppercase; text-align: center; text-decoration: none; background: rgba(0, 0, 0, 0.5); color: #FFF; }

.vertical { overflow-y: auto; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -25px; font-size: 0; height: 50px; width: 50px; }

.slick-prev { left: 2px; background: url(../img/icons/left-white.png) no-repeat center center; }

.slick-next { right: 2px; background: url(../img/icons/right-white.png) no-repeat center center; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: #fff; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.popup-wrap { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 20px 15px; background: rgba(255, 255, 255, 0.7); z-index: 10; white-space: nowrap; overflow: auto; text-align: center; font-size: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.popup-wrap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup-wrap.is-active { display: block; }
.popup-wrap .close_ico { position: absolute; top: 30px; right: 20px; }

.popup { display: inline-block; font-size: 20px; vertical-align: middle; white-space: normal; }
.popup__list { text-align: left; }
.popup__list li:last-child a { border-bottom: none; }
.popup__list a { position: relative; display: block; padding: 23px 0 23px 45px; color: #000; border-bottom: 1px solid #979797; *zoom: 1; }
.popup__list a:after { content: " "; display: table; clear: both; }
.popup__list i { position: absolute; top: 50%; left: 0; margin-top: -16px; }
