html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="text"], input[type="email"], input[type="tel"], textarea { -webkit-appearance: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

div, input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

@font-face { font-family: "Lucida Grande"; src: url("fonts/lucida-grande.eot"); src: url("fonts/lucida-grande.eot?#iefix") format("embedded-opentype"), url("fonts/lucida-grande.woff2") format("woff2"), url("fonts/lucida-grande.woff") format("woff"), url("fonts/lucida-grande.ttf") format("truetype"); font-weight: normal; font-style: normal; }
body { font-family: Arial, sans-serif; font-size: 12px; line-height: 1.4; }
body.is-gray { background: #f4f4f4; }

.out { position: relative; min-width: 400px; height: 100%; }
.out .inner { height: 100%; }

.inner { position: relative; padding: 0 15px; max-width: 940px; margin: 0 auto; *zoom: 1; }
.inner:after { content: " "; display: table; clear: both; }

h1, h2, h3, h4, h5, h6, strong, b { font-weight: normal; }

i { font-style: normal; }

a { text-decoration: none; }

p { font-size: 18px; line-height: 24px; }

input[type="search"]::-webkit-search-cancel-button { display: none; }

.down_ico { display: inline-block; margin-left: 10px; vertical-align: middle; background: url("../img/svg/down.svg") no-repeat 0 0; -moz-background-size: 10px 7px; -o-background-size: 10px 7px; -webkit-background-size: 10px 7px; background-size: 10px 7px; width: 10px; height: 7px; display: inline-block; }

.clock_ico { background: url("../img/svg/clock.svg") no-repeat 0 0; -moz-background-size: 16px 16px; -o-background-size: 16px 16px; -webkit-background-size: 16px 16px; background-size: 16px 16px; width: 16px; height: 16px; display: inline-block; }

.view_ico { background: url("../img/svg/view.svg") no-repeat 0 0; -moz-background-size: 21px 12px; -o-background-size: 21px 12px; -webkit-background-size: 21px 12px; background-size: 21px 12px; width: 21px; height: 12px; display: inline-block; }

.link_ico { background: url("../img/svg/link-grey.svg") no-repeat 0 0; -moz-background-size: 17px 17px; -o-background-size: 17px 17px; -webkit-background-size: 17px 17px; background-size: 17px 17px; width: 17px; height: 17px; display: inline-block; }

.search_ico { background: url("../img/svg/search.svg") no-repeat 0 0; -moz-background-size: 17px 17px; -o-background-size: 17px 17px; -webkit-background-size: 17px 17px; background-size: 17px 17px; width: 17px; height: 17px; display: inline-block; }

.flag_ico { background: url('../img/icons-sc4473f42df.png') 0 -273px no-repeat; background-position: 0 -137px; width: 32px; height: 32px; -moz-background-size: 32px 249px; -webkit-background-size: 32px 249px; background-size: 32px 249px; }

.ad_ico { background: url('../img/icons-sc4473f42df.png') 0 -42px no-repeat; background-position: 0 -21px; width: 26px; height: 31.5px; -moz-background-size: 32px 249px; -webkit-background-size: 32px 249px; background-size: 32px 249px; }

.privacy_ico { background: url('../img/icons-sc4473f42df.png') 0 -389px no-repeat; background-position: 0 -195px; width: 32px; height: 32px; -moz-background-size: 32px 249px; -webkit-background-size: 32px 249px; background-size: 32px 249px; }

.close_ico { background: url('../img/icons-sc4473f42df.png') 0 -147px no-repeat; background-position: 0 -74px; width: 22px; height: 22px; -moz-background-size: 32px 249px; -webkit-background-size: 32px 249px; background-size: 32px 249px; }

.header { position: absolute; min-width: 400px; min-height: 60px; left: 0; right: 0; background: white; border-bottom: 2px solid #d6d6d6; z-index: 2; }
@media only screen and (max-width: 768px) { .header { position: fixed; } }

.view { font-size: 0; float: left; margin: 22px 10px 0 15px; }
.view__icon { position: relative; display: inline-block; width: 16px; height: 16px; border: 1px solid #d8d8d8; border-radius: 2px; }
.view__icon:before { content: ""; position: absolute; top: 0; left: 6px; width: 1px; height: 100%; background: #d8d8d8; }
.view__icon:first-child { margin-right: 5px; }
.view__icon:first-child:before { display: none; }
.view__icon.is-active { border-color: black; }
.view__icon.is-active:before { background: black; }
@media only screen and (max-width: 1000px) { .view { margin: 20px 10px 0 0; } }

.btn-menu { display: none; position: relative; float: right; margin-top: 21px; width: 24px; height: 18px; background: none; cursor: pointer; }
.btn-menu:before, .btn-menu:after, .btn-menu span { position: absolute; width: 23px; height: 2px; background: black; height: 2px; border-radius: 2px; left: 0; right: 0; -moz-transform-origin: left 50%; -ms-transform-origin: left 50%; -webkit-transform-origin: left 50%; transform-origin: left 50%; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.btn-menu:before { content: ""; top: 0; }
.btn-menu:after { content: ""; bottom: 0; }
.btn-menu span { top: 50%; margin-top: -1px; }
.btn-menu.is-active span { display: none; }
.btn-menu.is-active:before { -moz-transform: rotateZ(45deg); -ms-transform: rotateZ(45deg); -webkit-transform: rotateZ(45deg); transform: rotateZ(45deg); }
.btn-menu.is-active:after { -moz-transform: rotateZ(-45deg); -ms-transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg); transform: rotateZ(-45deg); }

.nav { position: relative; float: left; font-size: 0; }
.nav li { display: inline-block; vertical-align: top; }
.nav li:last-child a { margin-left: 15px; }
.nav a { display: block; margin: 0 10px; padding: 24px 0; font-size: 12px; color: #9d9d9d; text-transform: uppercase; font-family: "Lucida Grande", Arial, sans-serif; }
.nav a:before { top: inherit; left: 0; right: 0; bottom: -1px; background: black; }
.nav a.is-active { color: black; }
.nav a.is-active:after { display: none; }
.nav a.is-active:before { display: block; height: 3px; }
@media only screen and (max-width: 1000px) { .nav { float: right; }
  .nav li:last-child a { margin-left: 5px; }
  .nav a { margin: 0 5px; font-size: 10px; } }

.subcategory { display: none; }
.subcategory.is-active { display: block; }

.category { position: absolute; top: 55px; right: 15px; min-width: 480px; font-size: 0; background: white; border: 1px solid #d6d6d6; opacity: 0; visibility: hidden; z-index: 2; font-family: "Lucida Grande", Arial, sans-serif; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -webkit-transition: all 0.2s ease; transition: all 0.2s ease; }
.category:before, .category:after { content: ""; position: absolute; right: 55px; }
.category:before { top: -11px; width: 0px; height: 0px; border-style: solid; border-width: 0 12.5px 10px 12.5px; border-color: transparent transparent #d6d6d6 transparent; }
.category:after { top: -10px; width: 0px; height: 0px; border-style: solid; border-width: 0 12.5px 10px 12.5px; border-color: transparent transparent white transparent; }
.category.is-active { opacity: 1; visibility: visible; }
.category__name { padding: 13px 20px; font-size: 12px; text-transform: uppercase; }
.category__in { border-top: 2px solid #d6d6d6; padding: 15px 10px; }
.category__list { display: inline-block; width: 33%; font-size: 12px; }
.category__list a { display: inline-block; padding: 5px 10px; color: #9d9d9d; text-transform: uppercase; }
.category__list a:hover { text-decoration: underline; }
.category__list a:before { display: none; }
@media only screen and (max-width: 1000px) { .category:before, .category:after { right: 31px; }
  .category__list { font-size: 10px; }
  .category__name { font-size: 10px; } }

.controller { position: absolute; right: 20px; bottom: 80px; }
.controller__wrap { font-size: 0; }
.controller__wrap.is-center { text-align: center; }
.controller__btn { position: relative; display: inline-block; width: 32px; height: 32px; margin: 2.5px; background: white; border: 1px solid #d6d6d6; border-radius: 6px; vertical-align: middle; cursor: pointer; text-align: center; font-size: 0; }
.controller__btn:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.controller__btn:active { box-shadow: inset 1px 1px 2px 0 #d6d6d6; }
.controller__icon { display: inline-block; vertical-align: middle; background: url("../img/svg/down.svg") no-repeat 0 0; -moz-background-size: 14px 8px; -o-background-size: 14px 8px; -webkit-background-size: 14px 8px; background-size: 14px 8px; width: 14px; height: 8px; display: inline-block; }
.controller__icon.is-up { -moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -webkit-transform: rotate(180deg); transform: rotate(180deg); }
.controller__icon.is-left { -moz-transform: rotate(90deg); -ms-transform: rotate(90deg); -webkit-transform: rotate(90deg); transform: rotate(90deg); }
.controller__icon.is-right { -moz-transform: rotate(-90deg); -ms-transform: rotate(-90deg); -webkit-transform: rotate(-90deg); transform: rotate(-90deg); }
@media only screen and (max-width: 1250px) { .controller { display: none; } }

.article { position: relative; height: 100%; padding: 60px 0; background: white; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *zoom: 1; }
.article:after { content: " "; display: table; clear: both; }
.article.is-two-col { overflow: hidden; }
.article.is-two-col .sidebar { display: block; }
.article.is-two-col .article__in { float: right; width: calc(100% - 220px); }
.article.is-two-col .side-slider { position: absolute; width: 100%; max-width: 220px; visibility: hidden; }
.article.is-two-col .slidr { float: none; width: 100%; max-width: inherit; }
.article__in { height: 100%; padding: 20px; font-family: Georgia, serif; font-size: 16px; line-height: 26px; color: black; overflow-y: auto; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.article__in p { margin-bottom: 10px; }
.article__in a { color: #62b7ff; text-decoration: underline; }
.article__in a:hover { text-decoration: none; }
.article__ttl { margin-bottom: 7px; font-size: 28px; color: black; line-height: 1.25; font-family: "Lucida Grande", Arial, sans-serif; }
.article__info { font-size: 0; }
.article__info i { display: inline-block; margin-right: 10px; vertical-align: middle; }
.article__info span { display: inline-block; margin-right: 20px; font-size: 14px; color: #b0b0b0; vertical-align: middle; font-family: "Lucida Grande", Arial, sans-serif; }
.article__info .clock_ico, .article__info .view_ico { margin-top: -2px; }
.article__bl { margin-top: 20px; *zoom: 1; }
.article__bl:after { content: " "; display: table; clear: both; }
.article__describe { padding-bottom: 13px; font-size: 14px; color: #525252; line-height: 22px; border-bottom: 1px solid #b0b0b0; font-family: "Lucida Grande", Arial, sans-serif; }
@media only screen and (max-width: 1000px) { .article { padding-bottom: 85px; } }

.slidr { float: left; width: 75%; max-width: 680px; max-height: 385px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.slidr:first-child { display: block; }
.slidr img { display: none; width: 100%; }
.slidr .slick-next { padding: 10px; margin-top: -9px; right: 20px; background: url("../img/svg/arr-next.svg") no-repeat 0 0; -moz-background-size: 30px 18px; -o-background-size: 30px 18px; -webkit-background-size: 30px 18px; background-size: 30px 18px; width: 30px; height: 18px; display: inline-block; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.slidr .slick-next:hover { -moz-transform: translateX(5px); -ms-transform: translateX(5px); -webkit-transform: translateX(5px); transform: translateX(5px); }
.slidr .slick-prev { padding: 10px; margin-top: -9px; left: 20px; background: url("../img/svg/arr-prev.svg") no-repeat 0 0; -moz-background-size: 30px 18px; -o-background-size: 30px 18px; -webkit-background-size: 30px 18px; background-size: 30px 18px; width: 30px; height: 18px; display: inline-block; -moz-transition: -moz-transform 0.2s ease; -o-transition: -o-transform 0.2s ease; -webkit-transition: -webkit-transform 0.2s ease; transition: transform 0.2s ease; }
.slidr .slick-prev:hover { -moz-transform: translateX(-5px); -ms-transform: translateX(-5px); -webkit-transform: translateX(-5px); transform: translateX(-5px); }

.side-slider { width: 25%; max-width: 220px; padding-left: 20px; overflow: hidden; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.side-slider__img { display: block; width: 220px; padding: 10px 0; cursor: pointer; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.side-slider__img:last-child { padding-bottom: 0; }
.side-slider__img img { width: 100%; }
.side-slider .slick-track { top: -20px; }

.sidebar { display: none; float: left; width: 220px; height: 100%; padding: 5px 0; overflow-y: auto; border-right: 1px solid #b0b0b0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.sidebar__list li:last-child a { border: none; }
.sidebar__list a { display: block; padding: 10px 15px 12px; font-size: 14px; color: #525252; border-bottom: 1px solid #b0b0b0; font-family: "Lucida Grande", Arial, sans-serif; }
.sidebar__list a:hover p { text-decoration: underline; }
.sidebar__list p { font-size: 14px; }
.sidebar__list small { color: #b0b0b0; font-size: 12px; }
.sidebar .mCSB_scrollTools { width: 4px; }

.search { position: relative; display: block; border-bottom: 1px solid #b0b0b0; }
.search_ico { position: absolute; top: 50%; margin-top: -9px; right: 15px; }
.search input { width: 100%; padding: 15px; font-size: 14px; font-family: "Lucida Grande", Arial, sans-serif; }
.search input:-moz-placeholder, .search input::-moz-placeholder { color: #9d9d9d; opacity: 1; }
.search input::-webkit-input-placeholder { color: #9d9d9d; }

.footer { position: absolute; left: 0; right: 0; bottom: 0; min-width: 400px; padding: 14.5px 0; text-align: center; box-shadow: inset 0 1px 0 #d6d6d6; background: white; }
.footer__in { *zoom: 1; }
.footer__in:after { content: " "; display: table; clear: both; }
.footer__logo { display: inline-block; margin-left: 20px; vertical-align: middle; }
.footer__info { display: inline-block; width: 18px; height: 18px; margin-left: 20px; color: #62b7ff; vertical-align: middle; border: 1px solid #d8d8d8; border-radius: 50%; font-family: "Georgia", Arial, sans-serif; font-style: italic; text-align: center; font-size: 0; -moz-transition: color 0.2s ease; -o-transition: color 0.2s ease; -webkit-transition: color 0.2s ease; transition: color 0.2s ease; }
.footer__info:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.footer__info:hover { color: #ff6051; }
.footer__info span { display: inline-block; font-size: 12px; vertical-align: middle; }
.footer__link { position: relative; display: inline-block; margin: 8px 20px 0 10px; padding-left: 25px; font-size: 14px; color: #979797; font-family: "Lucida Grande", Arial, sans-serif; }
.footer__link:before { content: ""; position: absolute; top: 0; left: 0; background: url("../img/svg/link2.svg") no-repeat 0 0; -moz-background-size: 18px 18px; -o-background-size: 18px 18px; -webkit-background-size: 18px 18px; background-size: 18px 18px; width: 18px; height: 18px; display: inline-block; }
.footer__link:hover span:before { display: none; }
.footer__link span { position: relative; display: inline-block; }
.footer__link span:before { content: ""; position: absolute; bottom: 0; width: 100%; height: 1px; border-bottom: 1px dashed #979797; }
.footer__el { float: left; }
.footer__el.is-right { float: right; }
@media only screen and (max-width: 1000px) { .footer { padding: 10px 0 12px; }
  .footer__el { float: none; display: inline-block; margin: 0 5px 5px; vertical-align: middle; }
  .footer__el.is-right { float: none; }
  .footer__link { margin-top: 0; }
  .footer .social { display: block; } }

.social { display: inline-block; margin-top: 5px; }
.social__link { display: inline-block; margin: 0 5px; max-width: 104px; vertical-align: middle; }
.social__link img { max-width: 100%; }

.slick-slider { position: relative; display: block; box-sizing: border-box; -moz-box-sizing: border-box; -webkit-touch-callout: none; -webkit-user-select: none; -khtml-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -ms-touch-action: pan-y; touch-action: pan-y; -webkit-tap-highlight-color: transparent; }

.slick-list { position: relative; overflow: hidden; display: block; margin: 0; padding: 0; }
.slick-list:focus { outline: none; }
.slick-loading .slick-list { background: white slick-image-url("ajax-loader.gif") center center no-repeat; }
.slick-list.dragging { cursor: pointer; cursor: hand; }

.slick-slider .slick-list, .slick-track, .slick-slide, .slick-slide img { -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }

.slick-track { position: relative; left: 0; top: 0; display: block; zoom: 1; }
.slick-track:before, .slick-track:after { content: ""; display: table; }
.slick-track:after { clear: both; }
.slick-loading .slick-track { visibility: hidden; }

.slick-slide { float: left; height: 100%; min-height: 1px; display: none; }
.slick-slide img { display: block; max-width: 100%; }
.slick-slide.slick-loading img { display: none; }
.slick-slide.dragging img { pointer-events: none; }
.slick-initialized .slick-slide { display: block; }
.slick-loading .slick-slide { visibility: hidden; }
.slick-vertical .slick-slide { display: block; height: auto; border: 1px solid transparent; }

.slick-prev, .slick-next { position: absolute; top: 50%; margin-top: -25px; font-size: 0; height: 50px; width: 50px; }

.slick-prev { left: 2px; background: url(../img/icons/left-white.png) no-repeat center center; }

.slick-next { right: 2px; background: url(../img/icons/right-white.png) no-repeat center center; }

.slick-dots { text-align: center; position: absolute; margin: 0; bottom: 0; left: 0; right: 0; }
.slick-dots li { position: relative; display: inline-block; padding: 0 3px; }
.slick-dots li.slick-active button { opacity: 0.3; box-shadow: none; }
.slick-dots li:before { display: none; }
.slick-dots button { display: block; width: 6px; height: 6px; background: white; -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); cursor: pointer; font: 0/0 a; text-shadow: none; color: transparent; border-radius: 50%; }
.slick-dots button:hover { box-shadow: none; }

.popup-wrap { display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0; padding: 20px 15px; background: rgba(255, 255, 255, 0.7); z-index: 10; white-space: nowrap; overflow: auto; text-align: center; font-size: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
.popup-wrap:before { content: ""; display: inline-block; vertical-align: middle; width: 0; height: 100%; }
.popup-wrap.is-active { display: block; }
.popup-wrap .close_ico { position: absolute; top: 30px; right: 20px; }

.popup { display: inline-block; font-size: 20px; vertical-align: middle; white-space: normal; }
.popup__list { text-align: left; }
.popup__list li:last-child a { border-bottom: none; }
.popup__list a { position: relative; display: block; padding: 23px 0 23px 45px; color: black; border-bottom: 1px solid #979797; *zoom: 1; }
.popup__list a:after { content: " "; display: table; clear: both; }
.popup__list i { position: absolute; top: 50%; left: 0; margin-top: -16px; }
