// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


// fonts
+font("helvetica-neue", helvetica-neue)

=helvetica
	font-family: "helvetica-neue", Helvetica, Arial, sans-serif
	font-weight: normal

html
	font-size: 62.5%
	font-size: 3.125vmin
	// +r(320)
	// 	font-size: 51.55%
	+iphone4
		font-size: 52.1%
	+iphone3
		font-size: 52.1%

body
	line-height: 1.4
	+helvetica
	&.is-gray
		background: #f4f4f4
	&.is-overflow
		overflow: hidden

.out
	position: relative
	min-width: 320px
	height: 100%
	+transition(transform 0.3s ease)
	&.is-moved
		+transform(translate3d(50%, 0, 0))
	@media only screen and (orientation: landscape)
		height: auto

// reset
h1, h2, h3, h4, h5, h6, strong, b
	font-weight: normal
i
	font-style: normal
a
	text-decoration: none

input[type="search"]::-webkit-search-cancel-button
	display: none

// icons
.flag_ico
	+sr(flagx2)
.ad_ico
	+sr(adx2)
.privacy_ico
	+sr(privacyx2)
.close_ico
	+sr(closex2)

.search_ico
	+svg(search, 17, 17)
.back_ico
	+svg(back, 22, 22)
.more_ico
	+svg(more, 22, 22)
.link_ico
	+svg(share-link, 22, 22)
