// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)
// =book
// 	font-family: "book", Arial, sans-serif
// insert pics into css
// div
// 	+pic("blabla.png")
// span
// 	+png(blabla)
// p
// 	+jpg(bla)


//fonts
+font("Lucida Grande", lucida-grande)

=git
	font-family: "Georgia", Arial, sans-serif
	font-style: italic

=lucida
	font-family: "Lucida Grande", Arial, sans-serif

body
	font-family: Arial, sans-serif
	font-size: 12px
	line-height: 1.4
	&.is-gray
		background: #f4f4f4

.out
	position: relative
	min-width: 400px
	height: 100%
	.inner
		height: 100%

.inner
	position: relative
	padding: 0 15px
	max-width: 940px
	margin: 0 auto
	+clr


//reset
h1, h2, h3, h4, h5, h6, strong, b
	font-weight: normal
i
	font-style: normal
a
	text-decoration: none
p
	font-size: 18px
	line-height: 24px

input[type="search"]::-webkit-search-cancel-button
	display: none

//icons
.down_ico
	display: inline-block
	margin-left: 10px
	vertical-align: middle
	+svg(down, 10, 7)

.clock_ico
	+svg(clock, 16, 16)
.view_ico
	+svg(view, 21, 12)
.link_ico
	+svg(link-grey, 17, 17)
.search_ico
	+svg(search, 17, 17)
