//header
.header
	position: absolute
	min-width: 768px
	min-height: 60px
	left: 0
	right: 0
	background: #FFF
	border-bottom: 2px solid #d6d6d6
	z-index: 2

.view
	font-size: 0
	float: left
	margin: 22px 10px 0 15px
	&__icon
		position: relative
		display: inline-block
		width: 16px
		height: 16px
		border: 1px solid #d8d8d8
		border-radius: 2px
		&:before
			display: none
			content: ""
			position: absolute
			top: 0
			left: 6px
			width: 1px
			height: 100%
			background: #d8d8d8
		&:first-child
			margin-right: 5px
		&.two-col
			&:before
				display: block
		&.is-active
			border-color: #000
			&:before
				background: #000
	+r(1000)
		margin: 20px 10px 0 0

.btn-menu
	display: none
	position: relative
	float: right
	margin-top: 21px
	width: 24px
	height: 18px
	background: none
	cursor: pointer
	&:before, &:after, span
		position: absolute
		width: 23px
		height: 2px
		background: #000
		height: 2px
		border-radius: 2px
		left: 0
		right: 0
		+transform-origin(left)
		+transition(transform 0.2s ease)
	&:before
		content: ""
		top: 0
	&:after
		content: ""
		bottom: 0
	span
		top: 50%
		margin-top: -1px
	&.is-active
		span
			display: none
		&:before
			+transform(rotateZ(45deg))
		&:after
			+transform(rotateZ(-45deg))

//navigation
.nav
	position: relative
	float: left
	font-size: 0
	> ul li
		display: inline-block
		vertical-align: top
		&:last-child
			a
				margin-left: 15px
	a
		position: relative
		display: block
		margin: 0 10px
		padding: 24px 0
		font-size: 12px
		color: #9d9d9d
		text-transform: uppercase
		&:before
			content: ""
			position: absolute
			left: 0
			right: 0
			bottom: -1px
			background: #000
		&.is-active
			color: #000
			&:after
				display: none
			&:before
				display: block
				height: 3px
	+r(1000)
		float: left
		> ul li
			&:last-child a
				margin-left: 5px
		a
			margin: 0 5px
			font-size: 10px

.subcategory
	display: none
	&.is-active
		display: block

.category
	position: absolute
	top: 55px
	right: 0
	max-width: 480px
	font-size: 0
	background: #fff
	border: 1px solid #d6d6d6
	opacity: 0
	visibility: hidden
	z-index: 2
	+transition(all 0.2s ease)
	&:before,
	&:after
		content: ""
		position: absolute
		right: 40px
	&:before
		top: -11px
		+arr(25, 10, #d6d6d6, t)
	&:after
		top: -10px
		+arr(25, 10, #fff, t)
	&.is-active
		opacity: 1
		visibility: visible
	&__name
		padding: 13px 20px
		font-size: 12px
		text-transform: uppercase
	&__in
		border-top: 2px solid #d6d6d6
		padding: 15px 10px
	&__list
		font-size: 12px
		+clr
		li
			float: left
			display: block
			width: 33%
		a
			display: inline-block
			margin: 0
			padding: 5px 10px
			color: #9d9d9d
			text-transform: uppercase
			&:hover
				text-decoration: underline
			&:before
				display: none
			&.is-active
				&:before
					display: none
	+r(1000)
		&:before,
		&:after
			right: 33px

//controller
.controller
	position: absolute
	right: 20px
	bottom: 80px
	&__wrap
		font-size: 0
		&.is-center
			text-align: center
	&__btn
		position: relative
		display: inline-block
		width: 32px
		height: 32px
		margin: 2.5px
		background: #fff
		border: 1px solid #d6d6d6
		border-radius: 6px
		vertical-align: middle
		cursor: pointer
		+vertical
		&:active
			box-shadow: inset 1px 1px 2px 0 #d6d6d6
	&__icon
		display: inline-block
		vertical-align: middle
		+svg(down, 14, 8)
		&.is-up
			+transform(rotate(180deg))
		&.is-left
			+transform(rotate(90deg))
		&.is-right
			+transform(rotate(-90deg))
	+r(1250)
		display: none


//main article
.article
	position: relative
	height: 100%
	padding: 60px 0
	background: #ffffff
	+box
	+clr
	&.is-two-col
		overflow: hidden
		.sidebar
			display: block
		.article__in
			float: right
			width: calc(100% - 220px)
		.side-slider
			position: absolute
			width: 100%
			max-width: 220px
			visibility: hidden
			max-height: 385px
		.slidr
			max-width: inherit
			&.is-small
				width: auto
	&__in
		height: 100%
		padding: 20px
		font-size: 16px
		line-height: 26px
		color: #000
		overflow-y: auto
		+box
		p
			margin-bottom: 10px
		a
			color: #62b7ff
			text-decoration: underline
			&:hover
				text-decoration: none
	&__ttl
		max-width: 850px
		margin-bottom: 7px
		font-size: 28px
		color: #000
		line-height: 1.25
	&__info
		font-size: 0
		i
			display: inline-block
			margin-right: 10px
			vertical-align: middle
		span
			display: inline-block
			margin-right: 20px
			font-size: 14px
			color: #b0b0b0
			vertical-align: middle
		.clock_ico,
		.view_ico
			margin-top: -2px
		&.is-inside
			position: absolute
			float: right
			width: 157px
			margin-left: 20px
			opacity: 0
			visibility: hidden
			p
				+clr
			span
				display: block
				margin-right: 0
				overflow: hidden
			i
				float: left
				margin: 4px 24px 0 0
				&.clock_ico,
				&.view_ico
					margin-right: 20px
		&.is-hidden
			position: absolute
			opacity: 0
			visibility: hidden
		&.is-visible
			position: static
			opacity: 1
			visibility: visible
	&__bl
		margin-top: 20px
		+clr
		&.txt-font
			font-size: 14px
			color: #525252
			line-height: 22px
		.embed-container
			height: 385px
			padding: 0
	&__img
		overflow: hidden
		img
			width: 100%
	+r(1000)
		padding-bottom: 85px
	+r(768)
		&__bl
			margin-top: 15px

.slidr
	max-height: 385px
	overflow: hidden
	+box
	&:first-child
		display: block
	&.is-small
		height: 280px
		.slick-slide
			div
				height: 280px
	.slick-slide
		div
			width: 100%
			height: 385px
			+cover
	.slick-next
		padding: 10px
		margin-top: -9px
		right: 20px
		+svg(arr-next, 30, 18)
		+transition(transform 0.2s ease)
		&:hover
			+transform(translateX(5px))
	.slick-prev
		padding: 10px
		margin-top: -9px
		left: 20px
		+svg(arr-prev, 30, 18)
		+transition(transform 0.2s ease)
		&:hover
			+transform(translateX(-5px))

.side-slider
	float: right
	width: 220px
	height: 385px
	padding-left: 20px
	overflow: hidden
	+box
	.slick-slide
		border: none !important
	&__img
		padding-bottom: 20px
		cursor: pointer
		+box
		div
			height: 118.333px
			+cover

//leftnav
.sidebar
	display: none
	float: left
	width: 220px
	height: 100%
	padding: 5px 0
	overflow-y: auto
	border-right: 1px solid #b0b0b0
	+box
	&__list
		li
			&:last-child
				a
					border: none
		a
			display: block
			padding: 10px 15px 12px
			font-size: 14px
			color: #525252
			border-bottom: 1px solid #b0b0b0
			&:hover
				p
					text-decoration: underline
		p
			font-size: 14px
			line-height: 17px
		small
			color: #b0b0b0
			font-size: 12px
			line-height: 15px
	.mCSB_scrollTools
		width: 4px

.search
	position: relative
	display: block
	border-bottom: 1px solid #b0b0b0
	-webkit-appearance: none
	&_ico
		position: absolute
		top: 50%
		margin-top: -9px
		right: 15px
	input
		width: 100%
		padding: 15px
		font-size: 14px
		+placeholder-color(#9d9d9d)
		+box

//footer
.footer
	left: 0
	right: 0
	bottom: 0
	min-width: 768px
	padding: 14.5px 0
	text-align: center
	box-shadow: inset 0 1px 0 #d6d6d6
	background: #fff
	position: fixed
	z-index: 1000
	&__in
		+clr
	&__logo
		display: inline-block
		margin-left: 20px
		vertical-align: middle
	&__info
		display: inline-block
		width: 18px
		height: 18px
		margin-left: 20px
		color: #62b7ff
		vertical-align: middle
		border: 1px solid #d8d8d8
		border-radius: 50%
		+git
		+vertical
		+transition(color 0.2s ease)
		&:hover
			color: #FF6051
		span
			display: inline-block
			font-size: 12px
			vertical-align: middle
			font-style: italic
	&__link
		position: relative
		display: inline-block
		margin: 8px 20px 0 10px
		padding-left: 25px
		font-size: 14px
		color: #979797
		&:before
			content: ""
			position: absolute
			top: 0
			left: 0
			+svg(link2, 18, 18)
		&:hover
			span
				&:before
					display: none
		span
			position: relative
			display: inline-block
			&:before
				content: ""
				position: absolute
				bottom: 0
				width: 100%
				height: 1px
				border-bottom: 1px dashed #979797
	&__el
		float: left
		&.is-right
			float: right
	+r(1000)
		padding: 10px 0 12px
		&__el
			float: none
			display: inline-block
			margin: 0 5px 5px
			vertical-align: middle
			&.is-right
				float: none
		&__link
			margin-top: 0
		.social
			display: block


.social
	display: inline-block
	margin-top: 5px
	&__link
		position: relative
		display: inline-block
		text-align: left
		width: 104px
		height: 22px
		margin: 0 5px
		padding: 5px 0
		font-size: 12px
		color: #FFF
		background-color: #486caa
		vertical-align: middle
		border-radius: 2px
		line-height: 1.2
		+box
		+clr
		+transition(background-color 0.25s)
		&:hover
			background-color: darken(#486caa, 10%)
		&.is-vk
			background-color: #41689b
			&:hover
				background-color: darken(#41689b, 10%)
		&.is-tw
			background-color: #00baf3
			&:hover
				background-color: darken(#00baf3, 10%)
		&.is-g
			background-color: #e76140
			&:hover
				background-color: darken(#e76140, 10%)
		i
			position: absolute
			top: 50%
			left: 7px
	&__tag
		display: inline-block
		padding-left: 30px
	&__counter
		float: right
		max-width: 40px
		margin-right: 7px
		overflow: hidden
		text-overflow: ellipsis
		white-space: nowrap
	.fb_ico
		margin-top: -8px
		+s(fb)
	.vk_ico
		margin-top: -5px
		+s(vk)
	.tw_ico
		margin-top: -7px
		+s(tw)
	.g_ico
		margin-top: -8px
		+s(g)
