//popup
.popup-wrap
	position: fixed
	top: 0
	left: 0
	right: 0
	bottom: 0
	padding: 20px 15px
	background: rgba(255, 255, 255, 0.95)
	z-index: 10
	white-space: nowrap
	overflow: auto
	opacity: 0
	visibility: hidden
	+transition(0.4s)
	+vertical
	+box
	&.is-active
		opacity: 1
		visibility: visible
	.close_ico
		position: absolute
		top: 20px
		right: 20px
	.article__img.-z-index
		position: absolute
		top: 26vh
		left: 10px
		right: 10px
		margin: 0
		padding: 19px 0 0

.popup
	display: inline-block
	vertical-align: middle
	white-space: normal
	&.-is-fullwidth
		width: 100%
	&__list
		text-align: left
		font-size: 2.1rem
		li
			&:last-child
				a
					border-bottom: none
		a
			position: relative
			display: block
			padding: 23px 0 23px 45px
			color: #000
			border-bottom: 1px solid #979797
			+clr
		i
			position: absolute
			top: 50%
			left: 0
			margin-top: -16px
	&__txt
		text-align: left
		font-size: 1.7rem
		a
			text-decoration: underline
			color: #62b7ff
	.icon-share-link
		display: inline-block
		margin-right: 10px
		vertical-align: middle

.info
	position: absolute
	left: 15px
	right: 15px
	bottom: 2.3rem
	color: #b0b0b0
	font-size: 1.2rem
	line-height: 28px
	&__bl
		p
			display: inline-block
			margin: 0 15px
			vertical-align: middle
	a
		text-decoration: underline
		color: #62b7ff
	i
		margin-right: 6px
		vertical-align: middle
	span
		display: inline-block
		vertical-align: middle